/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Gabarito', sans-serif;
  font-weight: 400;
}

body {
  /* background-color: aliceblue; */
  background-image: linear-gradient(rgb(200, 200, 200), rgb(200, 200, 200)), url("https://images.unsplash.com/photo-1585241936939-be4099591252?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-blend-mode: screen;
  background-position: center;
  background-size: cover;
  
}

/* nav bar and footer */
#navbar, #footer {
  background-color: #4972b0;
  padding: 20px;

  display: flex;
  align-items: center;
}

#navbar {
  justify-content: space-between;
}

#navbar ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navlink {
  font-size: 21px;
  list-style: none;
  transition: all ease 0.3s;
}

a, .news-logo, #footer {
  color: aliceblue;
  text-decoration: none;
}

.news-logo {
  margin-left: 20px;
  font-size: 2.7em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.news-logo a {
  font-weight: 600;
  transition: all ease 0.3s;
}

/* headers */
.page-header {
  margin: 30px 0;
  font-size: 42px;
  font-weight: 600;
  color: #4972b0;
  text-align: center;
}

/* hero section */
.grid-container, .about-me-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0 30px;
  width: 100%;
  height: 500px;
  gap: 20px;
}

/* grid images */
.grid-item, .about-me-grid-item {
  border: 2px solid #4972b0;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
}

/* grid item overlay */
.grid-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  transition: all ease 0.3s;
}

.grid-item:nth-child(1) {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 1;
  background-image: url("https://images.unsplash.com/photo-1722969561537-4ed6b3b98b50?q=80&w=1734&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

#headline-1, .headline-2 {
  color: aliceblue;
  background-color: #111c2e73;
  font-weight: 600;
  z-index: 20;
  transition: all ease 0.3s;
}

.grid-item:nth-child(2) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url("https://images.unsplash.com/photo-1672870153618-b369bcc8c55d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.grid-item:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
  background-image: url("https://images.unsplash.com/photo-1552395599-0aced1169753?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/* filter and search */
.filter-container {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-items: center;
}

/* article container and articles */
.article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 30px;
  margin-bottom: 40px;
}

.article {
  padding: 18px;
  border: 2px solid #4972b0;  
  background-color: rgba(249, 249, 249, 0.683);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  transition: all ease 0.3s;
}

/* article button */
.read-more-btn {
  width: 120px;
  margin-top: 25px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  background-color: #4972b0;
  color: aliceblue;
  font-size: 16px;
}

/* search and filters */
.filter-search-container {
  margin: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4972b0;
}

.search-container, .filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-container label, .filter-container label {
  font-size: 22px;
  margin-bottom: 9px;
  color: aliceblue;
  border: none;
}

#search-input, #category-select {
  background-color: aliceblue;
  padding: 7px;
  border-radius: 5px;
  font-size: 21px;
  transition: all ease 0.3s;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #4972b0;
  color: white;
}

/* about page */
.about-me-container {
  margin: 30px 0;
  height: 100%;
}

/* about me img items */
.about-me-grid-item:nth-child(1) {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  background-image: url("../imgs/profile1.jpg");

}

.about-me-grid-item:nth-child(2) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url("../imgs/profile2.jpg");
}

.about-me-grid-item:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
  background-color: rgb(121, 44, 169);
  background-image: url("../imgs/profile3.jpg");
}

/* about me text */
.about-me-info {
  margin: 60px 30px 40px;
  display: flex;
  gap: 30px;
}

.about-me-text {
  width: 50%;
  font-size: 21px;
}

/* mobile menu */
#menu-container, #menuButton {
  display: none;
}

#hamburger-icon {
  color: white;
  font-size: 33px;
  position: relative;
  top: 2px;
  transition: all ease 0.3s;
}

#mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #4972b0;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  padding-top: 25%;
}

#mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

#close-nav-menu {
  z-index: 40;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 53px;
  color: white;
}

/* media queries - */
@media screen and (max-width: 780px) {

  /* desktop and mobile nav */
  .navlink a {
    display: none;
  }

  #menu-container, #menuButton {
    display: block;
  }

  .grid-container, .about-me-grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .grid-item:nth-child(1), .about-me-grid-item:nth-child(1) {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
  }

  .grid-item:nth-child(2), .about-me-grid-item:nth-child(2) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
  }

  .grid-item:nth-child(3), .about-me-grid-item:nth-child(3) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .article-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile media queries */
@media screen and (max-width: 620px) {

  /* filter/search container */
  .filter-search-container {
    padding: 15px;
    flex-direction: column;
  }

  .search-container, .filter-container {
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .search-input label, .filter-container label {
    text-align: left;
  }

  #search-input, #category-select {
    margin: 10px 0;
    width: 100%;
  }

  /* home grid container and items */
  .grid-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .grid-item:nth-child(1) {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
  }

  .grid-item:nth-child(2) {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
  }

  .grid-item:nth-child(3){
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 7;
  }

  /* about me text */
  .about-me-info {
    margin: 40px 30px;
    flex-direction: column;
  }

  .about-me-text {
    width: 100%;
  }

  /* article container */
  .article-container {
    grid-template-columns: repeat(1, 1fr);
  }

}

/* hover effect */
.news-logo:hover, .navlink:hover {
  scale: 1.07;
  transition: all ease 0.3s;
}

#hamburger-icon:hover {
  scale: 1.05;
  transition: all ease 0.3s;
}

.grid-overlay:hover {
  background-color: rgba(17, 28, 46, 0.2);
  transition: all ease 0.3s;
}

.article:hover {
  background-color: #4972b0;
  color: aliceblue;
  scale: 1.03;

  transition: all ease 0.3s;
}

#search-input:hover, #category-select:hover {
  border: #4972b0;
  color: #4972b0;

  transition: all ease 0.3s;
}
