* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 30px;
  background-color: #c224a5;
  color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #5b2ed6;
  color: white;
}